<div>
  <div id="__gamemodal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="__gamemodal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="myModalLabel">$  {name}</h5>
        </div>
        <div class="modal-body">
          game loads here
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">goood</button>
        </div>
      </div>
    </div>
  </div>
</div>