<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <br>
    <img class="img-responsive col-xs-12" src="${image}">
    <div class="caption">
      <h3 class="text-center">${name}</h3>            
    </div>
    <p>
      <a href="${1gam}" class="btn btn-text" role="button">Inspiration</a>
      <a href="${gitHubUrl}" class="btn btn-text" role="button">Code</a>
    </p>
    <p>
      <a href="#" data-toggle="modal" data-target="__gamemodal" class="btn btn-primary btn-block" role="button">Play</a>               
    </p>
  </div>

</div>